@import "./nav";
@import "./form";
@import "./cards";
@import "./controllers";
@import "./modal";
@import "./movie";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
.hide {
  display: none;
}
.height {
  max-height: 100vh;
  overflow: hidden;
}
